<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>abhiverma1223334444@gmail.com</id>
  <fullName>Abhishek verma</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1254.vb_96f366e7b_a_d">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.97">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.4.2">
      <data class="concurrent-hash-map"/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.7">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <org.miniorange.saml.MoSAMLuserProperty plugin="miniorange-saml-sp@2.2.0">
      <attributes/>
    </org.miniorange.saml.MoSAMLuserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>c9b6c84d2e5737eb</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@664.vc9a_90f8b_c24a_">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <jenkins.model.experimentalflags.UserExperimentalFlagsProperty>
      <flags/>
    </jenkins.model.experimentalflags.UserExperimentalFlagsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@448.v5b_97805e3767">
      <emailAddress>abhiverma1223334444@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.googlelogin.GoogleUserInfo plugin="google-login@1.7">
      <family__name>verma</family__name>
      <name>Abhishek verma</name>
      <picture>https://lh3.googleusercontent.com/a/AAcHTte2u27IZ3Wi5BTII17YapZnEt6SIXLyc7R8WbFp=s96-c</picture>
      <locale>en</locale>
      <email>abhiverma1223334444@gmail.com</email>
      <given__name>Abhishek</given__name>
      <id>109303491398582506152</id>
      <verified__email>true</verified__email>
    </org.jenkinsci.plugins.googlelogin.GoogleUserInfo>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1685300728103</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>